<div class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <!-- layui-nav-itemed -->
      <li class="layui-nav-item">
        <a class="" href="javascript:;">管理员管理</a>
        <dl class="layui-nav-child">
          <dd><a href="{:url('Admin/adminAdd')}">管理员添加</a></dd>
          <dd><a href="{:url('Admin/adminList')}">管理员展示</a></dd>
        </dl>
      </li>

      <li class="layui-nav-item">
        <a href="javascript:;">品牌管理</a>
        <dl class="layui-nav-child">
          <dd><a href="{:url('Brand/brandAdd')}">品牌添加</a></dd>
          <dd><a href="{:url('Brand/brandList')}">品牌展示</a></dd>
        </dl>
      </li>

      <li class="layui-nav-item">
        <a href="javascript:;">分类管理</a>
        <dl class="layui-nav-child">
          <dd><a href="{:url('Cate/cateAdd')}">分类添加</a></dd>
          <dd><a href="{:url('Cate/cateList')}">分类展示</a></dd>
        </dl>
      </li>

      <li class="layui-nav-item">
        <a href="javascript:;">商品管理</a>
        <dl class="layui-nav-child">
          <dd><a href="{:url('Goods/goodsAdd')}">商品添加</a></dd>
          <dd><a href="{:url('Goods/goodsList')}">商品展示</a></dd>
        </dl>
      </li>

      <li class="layui-nav-item">
        <a href="javascript:;">文章管理</a>
        <dl class="layui-nav-child">
          <dd><a href="{:url('Essay/EssayAdd')}">文章添加</a></dd>
          <dd><a href="{:url('Essay/EssayList')}">文章展示</a></dd>
        </dl>
      </li>

    </ul>
  </div>
</div>