<div cate_id="{$floorInfo.topcate.cate_id}" floor="{$floor_num}">  
    <div class="i_t mar_10">
            <span class="floor_num">{$floor_num}F</span>
            <span class="fl">{$floorInfo.topcate.cate_name}</span>  
            <span class="i_mores fr">
               
                    {volist name="$floorInfo['sonCate']" id='v'}
                <a href="#">{$v.cate_name}</a>
                {/volist}
             
            </span>
    </div>
    <div class="content">
    
            <div class="fresh_mid">
                <ul>
                        {volist name="$floorInfo['goodsInfo']" id="v"}
                    <li>
                        <div class="name"><a href="{:url('Goods/goodsdetail')}?goods_id={$v.goods_id}&&goods_name={$v.goods_name}"">{$v.goods_name}</a></div>
                        <div class="price">
                            <font><span>{$v.goods_price}</span></font> &nbsp; 26R
                        </div>
                        <div class="img"><a href="{:url('Goods/goodsdetail')}?goods_id={$v.goods_id}&&goods_name={$v.goods_name}""><img src="__ROOT__\uploads\{$v.goods_img}" width="185" height="155" /></a></div>
                    </li>
                    {/volist}      
                </ul>
            </div>
    
    </div>  
    </div>  