<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="__STATIC__/css/style.css" /> 
<script type="text/javascript" src="__STATIC__/js/jquery-1.11.1.min_044d0927.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.bxslider_e88acd1b.js"></script>  
<script type="text/javascript" src="__STATIC__/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/menu.js"></script>           
<script type="text/javascript" src="__STATIC__/js/select.js"></script>  
<script type="text/javascript" src="__STATIC__/js/lrscroll.js"></script>   
<script type="text/javascript" src="__STATIC__/js/iban.js"></script>
<script type="text/javascript" src="__STATIC__/js/fban.js"></script>
<script type="text/javascript" src="__STATIC__/js/f_ban.js"></script>
<script type="text/javascript" src="__STATIC__/js/mban.js"></script>
<script type="text/javascript" src="__STATIC__/js/bban.js"></script>
<script type="text/javascript" src="__STATIC__/js/hban.js"></script>
<script type="text/javascript" src="__STATIC__/js/tban.js"></script>   
<script type="text/javascript" src="__STATIC__/js/lrscroll_1.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>

<script type="text/javascript" src="__STATIC__/js/p_tab.js"></script>    
<script type="text/javascript" src="__STATIC__/js/shade.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/ShopShow.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/MagicZoom.css" />
<script type="text/javascript" src="__STATIC__/js/MagicZoom.js"></script> 
<script src="__STATIC__/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="__STATIC__/js/num.js">
    

    var jq = jQuery.noConflict();
</script>  
    
<title>崔芳芳</title>
</head>
<body>  
<!--Begin Header Begin-->

{include file="public/header" /}
{__CONTENT__}
{include file="public/footer" /}


<!--End Footer End -->    