<script type="text/javascript" src="__STATIC__/js/n_nav.js"></script>
{include file="public/top" /}
   
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="__STATIC__/images/img3.jpg" />        
    </div>
    
    <!--Begin 第三步：提交订单 Begin -->
    <div class="content mar_20">
        <!--Begin 银行卡支付 Begin -->
        {if condition="$orderInfo['pay_type'] eq 2"}
    	<div class="warning">   
            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
              <tr height="35">
                <td style="font-size:18px;">
                	感谢您在本店购物！您的订单已提交成功，请记住您的订单号: <font color="#ff4e00">{$orderInfo.order_no}</font>
                </td>
              </tr>
              <tr>
                <td style="font-size:14px; font-family:'宋体'; padding:10px 0 20px 0; border-bottom:1px solid #b6b6b6;">
                	您选定的配送方式为: <font color="#ff4e00">申通快递</font>； &nbsp; &nbsp;您选定的支付方式为: <font color="#ff4e00">银行卡</font>； &nbsp; &nbsp;您的应付款金额为: <font color="#ff4e00">￥{$orderInfo.order_amount}</font>
                </td>
              </tr>
              <tr>
                <td>
                	<a href="#">首页</a> &nbsp; &nbsp; <a href="#">用户中心</a>
                </td>
              </tr>
              <tr>
                <td>
                	<div class="btn_u" style="margin:0 auto; padding:0 20px; width:120px;"><a href="#">立即使用支付宝支付</a></div>
                </td>
              </tr>
            </table>    
       
        </div>
        {elseif condition="$orderInfo['pay_type'] eq 1"}
         <!--Begin 余额不足 Begin -->
        <div class="warning">   
                <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
                  <tr height="35">
                    <td style="font-size:18px;">
                        感谢您在本店购物！您的订单已提交成功，请记住您的订单号: <font color="#ff4e00">{$orderInfo.order_no}</font>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size:14px; font-family:'宋体'; padding:10px 0 20px 0; border-bottom:1px solid #b6b6b6;">
                        您选定的配送方式为: <font color="#ff4e00">申通快递</font>； &nbsp; &nbsp;您选定的余额为: <font color="#ff4e00">银行卡</font>； &nbsp; &nbsp;您的应付款金额为: <font color="#ff4e00">￥{$orderInfo.order_amount}</font>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <a href="#">首页</a> &nbsp; &nbsp; <a href="#">用户中心</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="btn_u" style="margin:0 auto; padding:0 20px; width:120px;"><a href="#">立即使用余额支付</a></div>
                    </td>
                  </tr>
                </table>    
           
            </div>
        {else /}
        <!--Begin 支付宝支付 Begin -->
        <div class="warning">   
                <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
                  <tr height="35">
                    <td style="font-size:18px;">
                        感谢您在本店购物！您的订单已提交成功，请记住您的订单号: <font color="#ff4e00">{$orderInfo.order_no}</font>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size:14px; font-family:'宋体'; padding:10px 0 20px 0; border-bottom:1px solid #b6b6b6;">
                        您选定的配送方式为: <font color="#ff4e00">申通快递</font>； &nbsp; &nbsp;您选定的支付方式为: <font color="#ff4e00">支付宝</font>； &nbsp; &nbsp;您的应付款金额为: <font color="#ff4e00">￥{$orderInfo.order_amount}</font>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <a href="#">首页</a> &nbsp; &nbsp; <a href="#">用户中心</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="btn_u" style="margin:0 auto; padding:0 20px; width:120px;"><a href="#">立即使用支付宝支付</a></div>
                    </td>
                  </tr>
                </table>    
           
        </div>
        {/if}
    </div>
	<!--End 第三步：提交订单 End--> 
    
    
  