
<script type="text/javascript" src="__STATIC__/js/n_nav.js"></script>
{include file="public/userTop" /}
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
	<div class="m_content">
        {include file="public/userLeft" /} 		
		<div class="m_right">
            <p></p>
            <div class="mem_tit">收货地址</div>
	
            <!-- 展示 -->
            

           

            <div class="mem_tit">
            	<a href="#"><img src="__STATIC__/images/add_ad.gif" /></a>
            </div>
            <table border="0" class="add_tab" style="width:930px;"  cellspacing="0" cellpadding="0">
              <tr>
                <td width="135" align="right">配送地区</td>
                <td colspan="3" style="font-family:'宋体';">

                	<select class="area" style="background-color:#f6f6f6;" id="province">
                   
                      <option selected value='0'>--请选择--</option>
                      {volist name="proviceInfo" id="v"}
                      {if condition="$addressInfo['province'] eq $v['id']"}
                      <option value="{$v.id}" selected>{$v.name}</option>
                      {else /}
                      <option value="{$v.id}">{$v.name}</option>
                      {/if}
                      {/volist}

                  </select>
                	<select class="area" name="city" id="city">
                        
                      <option selected value='0'>--请选择--</option>
                      {volist name="cityInfo" id="v"}
                      {if condition="$addressInfo['city'] eq $v['id']"}
                      <option value="{$v.id}" selected>{$v.name}</option>
                      {else /}
                      <option value="{$v.id}">{$v.name}</option>
                      {/if}
                      {/volist}

                   </select>
                    <select class="area" name="area"  id="area">
                        <option selected value='0'>--请选择--</option>
                        {volist name="areaInfo" id="v"}
                        {if condition="$addressInfo['area'] eq $v['id']"}
                        <option value="{$v.id}" selected>{$v.name}</option>
                        {else /}
                        <option value="{$v.id}">{$v.name}</option>
                        {/if}
                        {/volist}
                    </select>
                   


                    （必填）
                </td>
              </tr>
              <tr>
                <td align="right">收货人姓名</td>
                <td style="font-family:'宋体';"><input type="text" id="address_name" class="add_ipt" value="{$addressInfo.address_name}"/>（必填）</td>
                <td align="right">手机号</td>
                <td style="font-family:'宋体';"><input type="text" id="address_tel" class="add_ipt" value="{$addressInfo.address_tel}"/>（必填）</td>
              </tr>
              <tr>
                <td align="right">详细地址</td>
                <td style="font-family:'宋体';"><input type="text" id="address_detail" class="add_ipt" value="{$addressInfo.address_detail}"/>（必填）</td>
                <td align="right">邮政编码</td>
                <td style="font-family:'宋体';"><input type="text" id="address_mail" class="add_ipt" value="{$addressInfo.address_mail}"/></td>
              </tr>
              <tr>
                <td>
                  是否设置为默认地址
                  {if condition="$addressInfo['is_default'] eq 1"}
                  <input type="checkbox" checked>
                  {else /}
                  <input type="checkbox">
                  {/if}
                </td>
              </tr>
            </table>
           	<p align="right">
                   <input type="hidden" id="address_id" value="{$addressInfo.address_id}">
            	<a href="#">删除</a>&nbsp; &nbsp; <a href="#" class="add_b">确认修改</a>
            </p> 
        </div>

            
        </div>
    </div>
<script>
  $(function(){
      layui.use('layer',function(){
        //三级联动
        $(document).on("change",".area",function(){
          var _this=$(this);
          var id=_this.val();
          var _option="<option selected value='0'>--请选择--</option>";
          $.post(
            "{:url('Address/getArea')}",
            {id:id},
            function(res){
                if(res.code=1){
                  for(var i in res['areaInfo']){
                    _option+="<option value='"+res['areaInfo'][i]['id']+"'>"+res['areaInfo'][i]['name']+"</option>"
                  }
                  _this.next('select').html(_option);
                }else{
                  layer.msg(res.font,{icon:res.code})
                }
           
            },
            'json'
          )
        })

        //添加
        $(document).on("click",".add_b",function(){
            // alert('1');
              var obj={};
              obj.province=$("#province").val();
           //  console.log(obj.province);
              obj.city=$("#city").val();
              obj.area=$("#area").val();
              obj.address_name=$("#address_name").val();
              obj.address_tel=$("#address_tel").val();
              obj.address_detail=$("#address_detail").val();
              obj.address_mail=$("#address_mail").val();
              obj.address_id=$("#address_id").val();
             // console.log(obj.address_id);
              var is_default=$(":checkbox").prop("checked");
             
              if(is_default==true){
                obj.is_default=1;
              }else{
                obj.is_default=2;
              }
              //验证
              if(obj.province==0){
                layer.msg('请填写省份');
                return false;
              }
              if(obj.address_name==''){
                layer.msg('请填写用户名');
                return false;
              }
              if(obj.address_tel==''){
                layer.msg('手机号不能为空');
                return false;;
              }
              var res=/^\d{11}$/;
              if(!res.test(obj.address_tel)){
                layer.msg('请填写手机号并且11位');
                return false;
              }

              //console.log(obj);
              //添加
              $.post(
                  "{:url('Address/addressUpdate')}",
                  obj,
                  function(res){
                      //console.log(res);
                      layer.msg(res.font,{icon:res.code});
                      if(res.code==1){
                          location.href="{:url('Address/index')}";
                      }
                  },
                  'json'
                  
              )
            
        })
        //删除
        $(document).on("click",".del",function(){
        //  alert("1");
          var _this=$(this);
          var id=_this.prev('input').attr('id');
         // console.log(id);
          $.post(
            "{:url('Address/addressdel')}",
            {id:id},
            function(res){
              // console.log(res)
              layer.msg(res.font,{icon:res.code});
              if(res.code==1){
                  _this.parents("div[class='address']").remove();
              }
            },
            'json'
            
          )
        })
        //点击默认
        $(document).on("click",".default",function(){
          //alert('1');
          var _this=$(this);
          var id=_this.prev('input').attr('id');
         // console.log(id);
            $.post(
              "{:url('Addresse/default')}",
              {id:id},
              function(res){
                consoe.log(res);
              }
            )
        })
        
      })
  })
</script>